<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Profile</title>

  <link rel="stylesheet" href="/stylesheets/form.css" />
  <script defer src="/app.js"></script>
</head>

<%- include('../partials/_navbar.ejs') %>

<body>
    <% const formatDate = date => date?.toISOString().slice(0, 10); %>
    
  <!-- Edit Profile Form -->
    <form action="/profile?_method=PUT" method="POST" method="POST">
        <div class="form-title">Edit Profile</div>

        <label for="name">First Name:</label>
        <input type="text" id="name" name="name" value="<%= user.name %>" required>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" value="<%= user.lastname %>" required>
        <label for="emailaddress">Email Address:</label>
        <input type="email" id="emailaddress" name="emailaddress" value="<%= user.emailaddress %>" required>
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" value="<%= formatDate(user.dob) %>">
  
      <button type="submit" class="button">Update Profile</button>
    </form>
</body>
<%- include('../partials/_footer.ejs') %>
</html>