<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Edit Task</title>

  <link rel="stylesheet" href="/stylesheets/task.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />
  <script defer src="/app.js"></script>
</head>

<%- include('../partials/_navbar.ejs') %>
<body>
<% const formatDate = date => date?.toISOString().slice(0, 10); %>


<main>
<div class="form-container">
  <form action="/task/edit/<%= task._id %>?_method=PUT" method="POST">
    <div class="form-title">Edit Task</div>
    
    <!-- Edit Task Form -->
    <label for="Type">Type</label>
    <select name="Type" id="type" required>
      <option disabled selected value="">-- Select Type --</option>
      <option value="Task" <%= task.Type.includes('Task') ? 'selected' : '' %>>Task</option>
      <option value="Issue" <%= task.Type.includes('Issue') ? 'selected' : '' %>>Issue</option>
    </select>
    
    <label for="ReportedDate">Reported Date</label>
    <input type="date" name="ReportedDate" value="<%= formatDate(task.ReportedDate) %>" id="reportedDate" >
  
    <label for="DueDate">Due Date</label>
    <input type="date" name="DueDate" value="<%= formatDate(task.DueDate) %>" id="dueDate" >
  
    <label for="Status">Status</label>
    <select name="Status" id="status" required>
      <option value="Pending" <%= task.Status === 'Pending' ? 'selected' : '' %>>Pending</option>
      <option value="In Progress" <%= task.Status === 'In Progress' ? 'selected' : '' %>>In Progress</option>
      <option value="Completed" <%= task.Status === 'Completed' ? 'selected' : '' %>>Completed</option>
    </select>
  
    <label for="Description">Description</label>
    <textarea name="Description" id="description" rows="4" required><%= task.Description %></textarea>
  
    <label for="Notes">Notes</label>
    <textarea name="Notes" id="notes" rows="3"><%= task.Notes %></textarea>
  
    <button type="submit" class="button">Save Changes</button>
  </form>
</main>
<footer>
  <%- include('../partials/_footer.ejs') %>
</footer>
</body>
</html>