<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= project.ProjectName %></title>

  <link rel="stylesheet" href="/stylesheets/project.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />
  <script defer src="/app.js"></script>
</head>

<%- include('../partials/_navbar.ejs') %>

<body>
  <% const formatDate = date => date?.toISOString().slice(0, 10); %>
  

  <div>
    
    <form action="/project/<%= project._id %>?_method=PUT" method="POST">
      <div class="form-title">Edit <span class="projectname"><%= project.ProjectName %></span> Project</div>
      <label for="CompanyName">Company Name:</label>
      <input name="CompanyName" type="text" value="<%= project.CompanyName %>">

      <label for="ProjectName">Project Name:</label>
      <input name="ProjectName" type="text" value="<%= project.ProjectName %>">

      <label for="StartDate">Start Date:</label>
      <input type="date" name="StartDate" value="<%= formatDate(project.StartDate) %>">

      <label for="DueDate">Due Date:</label>
      <input type="date" name="DueDate" value="<%= formatDate(project.DueDate) %>"><br>

      <label for="Description">Description:</label>
      <textarea name="Description" id="Description"><%= project.Description %></textarea><br>

      <label for="Notes">Notes:</label>
      <textarea name="Notes" id="Notes"><%= project.Notes %></textarea><br>

      <button class="button" type="submit">Update</button>
    </form>
  </div>
</body>
<%- include('../partials/_footer.ejs') %>
</html>