<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home</title>

  <link rel="stylesheet" href="/stylesheets/project.css" />
  <script defer src="/app.js"></script>
</head>

<%- include('../partials/_navbar.ejs') %>

<body>
  <h1>Projects</h1>

  <div class="table-container">
    <table class="project-table">
      <thead>
        <tr>
          <th>Project</th>
          <th>Company</th>
        </tr>
      </thead>
      <tbody>
        <% projects.forEach((project) => { %>
          <tr>
            <td><a href="/project/<%= project._id %>"><%= project.ProjectName %></a></td>
            <td><%= project.CompanyName %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    
    <div class="addbtn">
      <a href="/project/addproject">Add New Project</a>
    </div>
    
  </div>
</body>
<%- include('../partials/_footer.ejs') %>
</html>