<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= project.ProjectName %></title>

  <link rel="stylesheet" href="/stylesheets/project.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script defer src="/app.js"></script>
</head>

<%- include('../partials/_navbar.ejs') %>

  <body>
    <main>
    <!-- Project Section -->
    <div class="project-detail">
      <h1><%= project.ProjectName %> Project</h1>
      <div class="info">
        <p><strong>Company:</strong> <%= project.CompanyName %></p>
        <p><strong>Start:</strong> <%= project.StartDate?.toDateString() %></p>
        <p><strong>Due:</strong> <%= project.DueDate?.toDateString() %></p>
        <p><strong>Description:</strong> <%= project.Description %></p>
        <p><strong>Notes:</strong> <%= project.Notes %></p>
      </div>
      <div class="actions">
        <a href="/project/<%= project._id %>/edit" class="edt-btn">EDIT</a>
        <form action="/project/<%= project._id %>?_method=DELETE" method="POST">
          <button type="submit" class="dlt-btn"><i class="fas fa-trash"></i></button>
        </form>
      </div>
    </div>
  
    <!-- Tasks Section -->
    <div class="tasks">
      <div>Project Board</div>
      <% if (project.tasks && project.tasks.length > 0) { %>
        <table class="task-table">
          <thead>
            <tr>
              <th>Type</th>
              <th>Status</th>
              <th>Reported Date</th>
              <th>Due Date</th>
              <th>Description</th>
              <th>Actions</th>
           </tr>
          </thead>
         <tbody>
           <% project.tasks.forEach(task => { %>
             <tr>
                <td><%= task.Type %></td>
               <td><%= task.Status %></td>
               <td><%= task.ReportedDate?.toDateString() %></td>
               <td><%= task.DueDate?.toDateString() %></td>
               <td><%= task.Description %></td>
               <td>
                <a href="/task/edit/<%= task._id %>" class="edt-btn">
                  <i class="fas fa-pen"></i>
                </a>
                <form action="/task/<%= task._id %>?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" class="dlt-btn"><i class="fas fa-trash"></i></button>
                </form>
              </td>
             </tr>
            <% }) %>
          </tbody>
       </table>
      <% } else { %>
       <p>No tasks available.</p>
      <% } %>
     <a href="/task/add/<%= project._id %>" class="add-btn">Add Task</a>
    </div>
  </main>
  <footer><%- include('../partials/_footer.ejs') %></footer>
  </body>
  

</html>